@model MVCMovie.Models.ViewModels.DetailsMovieViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />

<div class="video-frame">
    <video style="width:1080px;" controls="controls" autoplay>
        <source src="@($"/videos/{Model.Title}/{Model.Trailer}")" type="video/mp4" />
    </video>
</div>

<hr />
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="@($"/images/{Model.Title}/{Model.Image}")" alt="@Model.Title" />
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <dl class="row">
            <dt class="col-sm-2 display-4">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10 display-4">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
        <div class="btn-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success">Edit</a>
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </div>
</div>

